<nav class="navbar">
    <div  class="navbar-brand">
        <a href="">
            <img src="{{ asset('image/logo.png') }}"/>
        </a>
        <h3>Bucket List</h3>

    </div>
    <div class="navbar-menu">
        <a href={{ path("home") }}>Home</a>
    </div>
</nav>
