{% extends 'base.html.twig' %}

{% block body %}
    <ul>

            <li>
                <h2>{{ wish.title }}</h2>
                <p>{{ wish.description }}</p>
                <p>Auteur : {{ wish.author }}</p>
                <p>Créé le : {{ wish.dateCreated|date('d/m/Y H:i') }}</p>
            </li>

    </ul>

{% endblock %}

{% block title %}

{% endblock %}


