{% extends 'base.html.twig' %}

{% block body %}
    <div class="wish-card-container">
        {% for wish in wishes %}
            <div class="wish-card">
                <img class="wish-card-img" src="{{ asset('image/7F5y.gif') }}" alt="Wish Image">
                <div class="wish-card-body">
                    <h2 class="wish-card-title">Souhait {{ wish.id }}</h2>
                    <p><a class="wish-card-link" href="{{ path('app_wish_detail_id', { 'id': wish.id }) }}">Voir le détail</a></p>
                </div>
            </div>
        {% else %}
            <p>Aucun wish trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    Liste des souhaits
{% endblock %}
